<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Seu saldo mensal de estrelas ira ser resetado!! Corra e utilize antes do reset!
    </p>
    <p>
    </p>
    <p>Obrigado pela atenção!</p>
  </body>
</html>
