<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Seu e-mail <%= @user.email %>
    </p>
    <p>
    </p>
    <p>Obrigado pela atenção!</p>
  </body>
</html>
